{% extends "base.html" %}

{% block content %}
    <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            <div class="demo-content mdl-cell mdl-cell--2-col mdl-cell--12-col-phone"></div>
            <div class="mdl-cell--8-col mdl-cell--12-col-phone">
                <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell--12-col mdl-cell--12-col-phone">

                    <h4>Contattaci</h4>

                    <strong>Telefono</strong>: 06 87671735<br><br>

                    <strong>Dove puoi trovarci</strong>:<br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d371.5527289513659!2d12.828679706515521!3d41.84074643719929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0xf5a38d0e54d2f045!2sCroce+Rossa+Italiana+-+Comitato+Locale+Gabio!5e0!3m2!1sit!2sit!4v1466492821470" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell--12-col mdl-cell--12-col-phone" style="margin-top: 10px;">
                    <strong>Oppure puoi scriverci</strong>:<br>
                    <form action="#" method="POST" class="col s12">
                        <div class="row">

                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_box</i>
                            <input class="validate" type="text" id="applicant_name" name="applicant_name" required>
                            <label for="applicant_name">Nome e cognome</label>
                        </div>
                        <div class="input-field col s12">
                            <i class="material-icons prefix">contact_mail</i>
                            <input class="validate" type="email" id="applicant_email" name="applicant_email" required>
                            <label for="applicant_email">E-mail</label>
                        </div>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">message</i>
                            <textarea id="additional_info" class="materialize-textarea" name="message" length="150" required></textarea>
                                <label for="additional_info">Messaggio</label>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px">
                            <div class="col s12 right-align">
                                <button type="submit" name="action" class="waves-effect waves-light btn">Invia
                                    Messaggio
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}