{% extends "base.html" %}

{% block content %}
    <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            <div class="demo-content mdl-cell mdl-cell--2-col mdl-cell--12-col-phone"></div>
            <div class="mdl-cell mdl-cell--8-col mdl-cell--12-col-phone">
                <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">

                    <h4>Contattaci</h4>

                    <strong>Telefono</strong>: 06 87671735<br><br>

                    <strong>Dove puoi trovarci</strong>:<br>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d371.55258448592184!2d12.829079603021205!3d41.84077131757155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x132f806d4e69148f%3A0x41f50273861d99e4!2sVia+Giuseppe+Calandrelli%2C+47%2C+00039+Zagarolo+RM%2C+Italia!5e0!3m2!1sit!2sus!4v1463476590800"
                            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
                <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col mdl-cell--12-col-phone">
                    <strong>Oppure puoi scriverci</strong>:<br>
                    <form action="#" method="POST" class="col s12">

                        <div class="input-field col s12">
                            <i class="material-icons prefix">account_box</i>
                            <input class="validate" type="text" id="applicant_name" name="applicant_name">
                            <label for="applicant_name">Nome e cognome</label>
                        </div>

                        <div class="input-field col s12">
                            <i class="material-icons prefix">message</i>
                            <textarea id="additional_info" class="materialize-textarea" name="message"
                                      length="150"></textarea>
                            <label for="additional_info">Messaggio</label>
                        </div>
                        <div class="col s8">
                            <button type="submit" name="action" class="right-align waves-effect waves-light btn"
                                    onclick="Materialize.toast('I am a toast!', 2000)">Invia Messaggio
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}