{% extends "base.html" %}
{% block content %}
    <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            <div class="demo-content mdl-cell mdl-cell--2-col mdl-cell--12-col-phone"></div>
            <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell--8-col mdl-cell--12-col-phone">
                <h4>Richiedi Servizio</h4>
                <form method="POST" class="col s12" id="service_form">
                    <div class="section">
                        <h5>Dati Richiedente</h5>
                        <div class="row">
                            <div class="input-field col s12 l12">
                                <i class="material-icons prefix">account_box</i>
                                <input class="validate" type="text" id="applicant_name" name="applicant_name" required>
                                <label for="applicant_name">Nome e cognome del richiedente</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 l6">
                                <i class="material-icons prefix">local_phone</i>
                                <input class="validate" type="text"
                                       pattern="^\d{2}\s?\d{3}\s?\d{4}"
                                       id="applicant_phone_number" name="applicant_phone_number" required>
                                <label for="applicant_phone_number" data-error="Inserire un numero corretto">Numero di telefono fisso</label>
                            </div>
                            <div class="input-field col s12 l6">
                                <i class="material-icons prefix">stay_current_portrait</i>
                                <input class="validate" type="text"
                                       pattern="^\d{3}\s?\d{3}\s?\d{4}"
                                       id="applicant_mobile_phone_number" name="applicant_mobile_phone_number" required>
                                <label for="applicant_mobile_phone_number" data-error="Inserire un numero corretto">Numero di telefono
                                    cellulare</label>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <h5>Dati Paziente</h5>
                        <div class="row">
                            <div class="input-field col s12 l12">
                                <i class="material-icons prefix">assignment_ind</i>
                                <input class="validate" type="text" id="patient_name" name="patient_name" required>
                                <label for="patient_name">Nome e cognome del paziente</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 m12 l8">
                                <i class="material-icons prefix">home</i>
                                <input class="validate" type="text" id="patient_address" name="patient_address" required>
                                <label for="patient_address" id="patient_address_label">Indirizzo dell'abitazione</label>
                            </div>
                            <div class="input-field col s6 m6 l2">
                                <input class="validate" type="number" id="patient_address_stairs_num"
                                       name="patient_address_stairs_num" required>
                                <label for="patient_address_stairs_num">Piani di scale</label>
                            </div>
                            <div class="input-field col s6 m6 l2">
                                <input type="checkbox" id="lift-check" name="lift-check" class="validate" required>
                                <label for="lift-check">Ascensore</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 l4">
                                <i class="material-icons prefix">accessibility</i>
                                <input class="validate" type="number" id="patient_age" name="patient_age" pattern="^\d{2}" required>
                                <label for="patient_age">Età</label>
                            </div>
                            <div class="input-field col s6 l4">
                                <input class="validate" type="number" id="patient_weight" name="patient_weight" pattern="^\d{1,3}" required>
                                <label for="patient_weight">Peso in Kg</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s6 m6 l3">
                                <input type="checkbox" id="oxygen_check" name="oxygen_check"
                                       class="validate" required>
                                <label for="oxygen_check">Ossigeno</label>
                            </div>
                            <div class="input-field col s6 m6 l3">
                                <input type="checkbox" id="wander_check" name="wander_check"
                                       class="validate" required>
                                <label for="wander_check">Deambula</label>
                            </div>
                            <div class="input-field col s6 m6 l3">
                                <input type="checkbox" id="sit_check" name="sit_check" class="validate" required>
                                <label for="sit_check">Posizione seduta</label>
                            </div>
                            <div class="input-field col s6 m6 l3">
                                <input type="checkbox" id="supine_check" name="supine_check"
                                       class="validate" required>
                                <label for="supine_check">Posizione supina</label>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <div class="row" style="padding-top: 15px">
                            <h5>Servizio</h5>
                        </div>
                        <div class="row">
                            <div class="input-field col s12 l6">
                                <label for="service_date">Data del servizio richiesto</label>
                                <input type="date" id="service_date" class="datepicker required" name="service_date" required>
                            </div>
                            <div class="input-field col s12 l6">
                                <label for="service_hour">Orario del servizio richiesto</label>
                                <input type="time" id="service_hour" class="timepicker required" name="service_hour" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <select id="service_type" name="service_type" required>
                                    <option value selected disabled>Scegli un tipo di servizio</option>
                                    <option value="discharge">Dimissioni</option>
                                    <option value="transfer">Trasfermimento struttura</option>
                                    <option value="examination">Visita di controllo</option>
                                    <option value="admission">Ricovero in casa di cura o clinica</option>
                                </select>
                            </div>
                        </div>
                        <div class="section col s12" id="service_info" style="display: none;">
                            <div class="row">
                                <div class="input-field col s12 l6" id="address_from" required>
                                    <i class="material-icons prefix" id="hospital-icon-from" style="display: none;">local_hospital</i>
                                    <i class="material-icons prefix" id="home-icon-from" style="display: none;">home</i>
                                    <input class="validate" type="text" id="place_from" name="place_from">
                                    <label for="place_from" id="place_from_label">Indirizzo del luogo di partenza</label>
                                </div>
                                <div class="input-field col s12 l6" id="section_from" required>
                                    <input class="validate" type="text" id="section" name="section">
                                    <label for="section">Reparto</label>
                                </div>
                                <div class="input-field col s12 l6" id="same_address_from">
                                    <input class="validate" type="checkbox" id="same_address_from_check" name="same_address_from_check">
                                    <label for="same_address_from_check">Usa indirizzo precedentemente inserito</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s12 l6" id="address_to">
                                    <i class="material-icons prefix" id="hospital-icon-to" style="display: none;">local_hospital</i>
                                    <i class="material-icons prefix" id="home-icon-to" style="display: none;">home</i>
                                    <input class="validate" type="text" id="place_to" name="place_to" required>
                                    <label for="place_to" id="place_to_label">Indirizzo del luogo di arrivo</label>
                                </div>
                                <div class="input-field col s12 l6" id="section_to" >
                                    <input class="validate" type="text" id="section" name="section" required>
                                    <label for="section">Reparto</label>
                                </div>
                                <div class="input-field col s12 l6" id="same_address_to">
                                    <input class="validate" type="checkbox" id="same_address_to_check" name="same_address_to_check">
                                    <label for="same_address_to_check">Usa indirizzo precedentemente inserito</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="section">
                        <div class="row">
                            <h5>Informazioni aggiuntive</h5>
                            <div class="input-field col s12">
                                <i class="material-icons prefix">mode_edit</i>
                            <textarea id="additional_info" class="materialize-textarea"
                                      name="additional_info" length="150"></textarea>
                                <label for="additional_info">Informazioni Aggiuntive</label>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 20px">
                            <div class="col s12 right-align">
                                <button type="submit" name="action" class="waves-effect waves-light btn">Invia Richiesta</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock content %}